.parcelInputs {
  margin-top: var(--gap-3);

  h3 {
    margin: auto;
    text-align: center;
    margin-bottom: var(--gap)
  }
}

.removeRowButton {
  margin-left: auto;
}

.addRowButton {
  margin-left: auto;
}

.table {
  margin-bottom: var(--gap-2);

  input {
    width: 100%;
    padding: var(--gap);
    background: var(--bg-color);
    color: var(--font-color);
    border: none;
    outline: none;
  }

  input:focus {
    background: var(--font-color);
    color: var(--bg-color);
    text-align: center;
  }

  > tbody > tr, > thead > tr {
    td:last-child, th:last-child {
      border-top: none;
      border-left: none;
    }
  }
}
