@import url('@globalStyle');

.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  form {
    margin: var(--gap) 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  hr {
    margin: calc(var(--gap) * 2) 0;
  }
}

.submitButton {
  margin-top: auto;
  padding: calc(var(--gap) * 1.5);
  width: 100%;
}
