@import url('@globalStyle');

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
/*  width: 1000px;*/

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--gap-2);
}

.bottomButtons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  div {
    display: flex;
    gap: var(--gap);
  }
}
