.binsOverlay {
  position: absolute;
  bottom: var(--gap-2);
  left: var(--gap-2);
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--gap-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: var(--gap-2);
  justify-items: center;

  :first-child {
    grid-column-start: 1;
  }

  :last-child {
    margin-left: auto;
  }
}

.headerExpanded {
  grid-template-columns: 1fr auto 1fr;

  :first-child {
    grid-column-start: 2;
  }
}

.table {
  > tbody > tr,  > thead > tr {
    > td {
      padding: var(--gap);
    }

    > td:first-child {
        border-top: none;
      }

    > td:nth-child(2), > th:nth-child(2) {
      border-left: none;
    }

    > td:last-child, > th:last-child {
      border-left: none;
      border-top: none;
    }
  }
}

.subTable {
  margin-left: 44px;
  background: var(--primary-color-1);
  border-right: 1px solid var(--font-color);

  > tbody > tr > td{
    padding: var(--gap);
  }
}
