.selectedOverlay {
  position: absolute;
  top: var(--gap-2);
  left: var(--gap-2);
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding: var(--gap-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.table {
  border-collapse: collapse;

  th {
    text-align: left;
    padding: var(--gap);
    border-left: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
  }

  td {
    border-left: 1px solid var(--font-color);
    padding: var(--gap);
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
  }

  td:first-child, th:first-child {
    border-left: none;
    min-width: 120px;
  }
}
