@import url('@globalStyle');

.root {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.hideControls {
  margin-top: var(--gap-2);
}

.showControls {
  position: relative;
  padding: var(--gap-2);
  height: 100%;
}

.controls {
  height: 100%;
  position: relative;
  display: flex;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap-2);
}

.paddingWrapper {
  padding: var(--gap-3) 0;
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

.body {
  height: 100%;
  padding: 0 var(--gap-3);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--font-color) var(--bg-color);
}

.tabs button {
  font-size: 50px;
  padding: var(--gap-3) calc(var(--gap) * 0.5);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  margin-top: var(--gap);
  cursor: pointer;
}

.tabs button:nth-child(1) {
  background-color: var(--secondary-color-3);
  color: var(--font-color);

  &:hover {
    background-color: var(--secondary-color-1);
    color: var(--font-color);
  }
}

.tabs button:nth-child(2) {
  background-color: var(--tertiary-color-3);
  color: var(--font-color);

  &:hover {
    background-color: var(--tertiary-color-1);
    color: var(--font-color);
  }
}
