@import url('@globalStyle');

.root {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.controls {
  position: relative;
  display: flex;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.body {
  overflow-y: auto;
  height: 100vh;
  width: 300px;
/*  backdrop-filter: blur(20px);*/
  background: var(--bg-color);
  padding: var(--gap-2);
}

.tabs button {
  font-size: 50px;
  padding: var(--gap-3) calc(var(--gap) * 0.5);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 8px 0 0 8px;
}

.tabs button:nth-child(2) {
  background-color: var(--secondary-color-3);
  color: var(--secondary-color-1);

  &:hover {
    background-color: var(--secondary-color-1);
    color: white;
  }
}
