/* Variables for the light color theme  */
:root, [color-theme="light"] {
  --bg-color: #1B263B;
  --primary-color-1: #344B67;
  --primary-color-2: #456489;
  --primary-color-3: #607DA0;
  --secondary-color-1: #FF6F00;
  --secondary-color-2: #FF8C33;
  --secondary-color-3: #FFA966;
  --tertiary-color-1: #C1D82F;
  --tertiary-color-2: #C7D85B;
  --tertiary-color-3: #CCD88C;
  --font-color: #F5F5F5;
  --disabled-color: #838383;
}

/* Variables for the dark color theme  */
/*[color-theme="dark"] {
  --primary-color: #595CA6;
  --secondary-color: #A6595C;
  --tertiary-color: #5CA659;
}*/

:root {
  --gap-0_5: calc(var(--gap) * 0.5);
  --gap: 8px;
  --gap-1_5: calc(var(--gap) * 1.5);
  --gap-2: calc(var(--gap) * 2);
  --gap-2_5: calc(var(--gap) * 2.5);
  --gap-3: calc(var(--gap) * 3);
  --gap-3_5: calc(var(--gap) * 3.5);
  --gap-4: calc(var(--gap) * 4);
  --gap-4_5: calc(var(--gap) * 4.5);
  --gap-5: calc(var(--gap) * 5);

  --border-radius: 12px;

  background: var(--primary-color-1);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h1 {
  letter-spacing: 0.3rem;
  font-size: 40px;
}

h2 {
  letter-spacing: 0.3rem;
  font-size: 30px;
}

h3 {
  letter-spacing: 0.2rem;
}

h4 {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

p {
  padding: 0;
  margin: var(--gap) 0;
}

button, select {
  font-family: "Montserrat", sans-serif;
}


table {
  th {
    font-size: 14px;
    font-weight: 400;
  }
}

input {
  font-family: "Inconsolata", sans-serif;
  font-size: 18px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

hr {
  width: 100%;
}
