/* Variables for the light color theme  */
:root, [color-theme="light"] {
  --bg-color: #1B263B;
  --primary-color-1: #344B67;
  --primary-color-2: #456489;
  --primary-color-3: #607DA0;
  --secondary-color-1: #FF6F00;
  --secondary-color-2: #FF8C33;
  --secondary-color-3: #FFA966;
  --tertiary-color-1: #C1D82F;
  --tertiary-color-2: #C7D85B;
  --font-color: #F5F5F5;
  --disabled-color: #838383;
}

/* Variables for the dark color theme  */
/*[color-theme="dark"] {
  --primary-color: #595CA6;
  --secondary-color: #A6595C;
  --tertiary-color: #5CA659;
}*/

:root {
  --gap: 8px;
  --gap-1_5: calc(var(--gap) * 1.5);
  --gap-2: calc(var(--gap) * 2);
  --gap-2_5: calc(var(--gap) * 2.5);
  --gap-3: calc(var(--gap) * 3);
  --gap-3_5: calc(var(--gap) * 3.5);
  --gap-4: calc(var(--gap) * 4);
/*
  --primary-color-80: color-mix(in oklab, var(--primary-color-1) 80%, transparent);
  --primary-color-60: color-mix(in oklab, var(--primary-color-1) 60%, transparent);
  --primary-color-40: color-mix(in oklab, var(--primary-color-1) 40%, transparent);

  --secondary-color-80: color-mix(in oklab, var(--secondary-color-1) 80%, transparent);
  --secondary-color-60: color-mix(in oklab, var(--secondary-color-1) 60%, transparent);
  --secondary-color-40: color-mix(in oklab, var(--secondary-color-1) 40%, transparent);

  --tertiary-color-80: color-mix(in oklab, var(--tertiary-color-1) 80%, transparent);
  --tertiary-color-60: color-mix(in oklab, var(--tertiary-color-1) 60%, transparent);
  --tertiary-color-40: color-mix(in oklab, var(--tertiary-color-1) 40%, transparent);
*/
  background: var(--primary-color-1);
  color: var(--font-color);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  padding: 0;
  margin: var(--gap) 0;
}

label, button {
  font-family: "Montserrat", sans-serif;
/*  font-optical-sizing: auto;*/
}

/*button {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color-1);
  background: var(--primary-color-2);
  padding: var(--gap);
  border: solid 2px var(--primary-color-1);
  border-radius: 8px;
}

button:hover {
  color: white;
  background: var(--primary-color-1);
}*/

input {
  box-sizing: border-box;
  margin: 0;
  padding: calc(var(--gap) * 0.2);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

hr {
  width: 100%;
}
