@import url('@globalStyle');

.root {
  width: 300px;
}

.actions {
  margin-top: var(--gap-4);
  display: flex;
  flex-direction: column;
/*  align-items: end;*/
  gap: var(--gap-2);
}

.toggle {
/*  width: 100%;*/
/*  padding-left: var(--gap-2);*/
}

.buttonRow {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}