.table {
  border-collapse: collapse;
  table-layout: fixed;

  th {
    text-align: left;
    padding: var(--gap);
    border-left: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
  }

  td {
    padding: 0;
  }

  td:first-child, th:first-child {
    border-left: none;
  }

  td:last-child, th:last-child {
    border-left: none;
    border-bottom: none;
  }
}

.cell {
  border-left: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}
