.table {
  margin-bottom: var(--gap-2);
  border-collapse: collapse;
  table-layout: fixed;
  width: 0px;

  th {
    text-align: left;
    padding: var(--gap);
    border-left: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
  }

  td {
    border-left: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding: 0;
    background: var(--bg-color);

    input {
      width: 100%;
      background: var(--bg-color);
      color: var(--font-color);
      border: none;
      outline: none;
      padding: var(--gap);
    }

    input:focus {
      background: var(--font-color);
      color: var(--bg-color);
      text-align: center;
    }

  }

  td:first-child, th:first-child {
    border-left: none;
  }

  td:last-child, th:last-child {
    border-left: none;
    border-bottom: none;
  }
}
